html body{
  background-color: azure;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  text-align: center;
}

nav{
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 90%;
  height: 4em;
  margin: 1em auto;
  border-radius: 0.5em;
}

nav li{
  background-color: blue;
  list-style: none;
  width: 10em;
  height: 2em;
  border-radius: 0.3em;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

nav li a:hover{
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1em
}

